#解包后文件所在位置，文件过多，大概30万个，不要直接遍历整个目录
UNPACK_DIR=G:\dofsifu\develop\pvf-86-jie

#NPK文件所在位置
NPK_DIR=G:\dofsifu\jp86\DXF\ImagePacks2

#待解封pvf所在位置
PVF_DIR=G:\dofsifu\develop\pvf\Script.pvf

#旧版本pvf解包后所在位置
UNPACK_DIR=G:\dofsifu\develop\pvf-jie